.category-preview-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  .title {
    font-size: 28px;
    margin-bottom: 25px;
    cursor: pointer;
  }

  .show-all {
    text-align: center;

    .title {
      cursor: unset;
      font-size: 38px;
    }
  }

  .view-all {
    font-weight: 300;
    font-size: 16px;

    &:hover {
      text-decoration: underline;
    }
  }

  .preview {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 50px;
  }
}
